@use '../../../scss/variables' as v;
@use '../../../scss/mixins' as m;
@use '../../../scss/components/mixins' as cm;

.footer {
  padding-top: 1rem;
  background-color: v.$footer;
}

// STYLE THE CONTACT-BOX CONTENT
.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;

  .fa {
    color: v.$primary;
  }

  .info {
    margin-left: 1rem;

    a {
      font-size: 0.8rem;
      font-weight: 600;
      text-decoration: none;
    }

    a.title {
      color: v.$white;
      font-size: 1rem;

      @include m.sm-breakpoint-up() {
        font-size: 1.4rem;
      }
    }

    p {
      margin-bottom: 0;
      color: v.$gray-600;
    }
  }

}

// STYLE THE SOCIAL MEDIA CONTENT
.footer-sm {

  a {
    color: v.$white;

    i {
      font-size: 1rem;
      margin-left: 1rem;

      @include m.sm-breakpoint-up() {
        font-size: 1.6rem;
      }


    }
    &:hover {
      color: v.$primary;
    }
  }
}


// STYLE THE COPYRIGHT  CONTENT
.footer-bottom {
  background-color: v.$black;

  &__copyright {
    color: v.$gray-600;
    font-weight: 400;


    a {
      color: v.$gray-300;
      text-decoration: none;

      &:hover {
        color: v.$primary;
        text-decoration: underline;

      }
    }
  }

  &__division {
    margin-top: 0.75rem;
    font-size: 0.85rem;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.7);
  }
}
