@use '../../../scss/variables' as v;
@use '../../../scss/components/mixins' as *;

.bushtukahLogo {
  height: 100px;
  margin-top: 15px;
  display: block;
}

.black-box {
  padding: 1rem;
  background-color: #000000; /* Pure black */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  border: 1px solid #333; /* Optional: slight border for contrast */
}

.intro-section {
  @include gradient;
  padding: 10rem 0 0 0;
  width: 100%;
  //height: 100%;
}

.intros {


  .video-box {
    position: relative;


    a {
      // @include absoluteCenter;

      span {


        i {

          font-size: 6rem;
          color: v.$secondary;

        }
      }
    }
  }
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid v.$white;
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;

  &--border-1 {
    animation-delay: 1s;
  }
  &--border-2 {
    animation-delay: 1.5s;
  }
}
