<section id="services">
  <div class="container">
    <div class="row text-center">
      <h1 class="display-3 fw-bold">The Problem</h1>
      <div class="heading-line mb-1"></div>
    </div>
    <!-- START THE DESCRIPTION CONTENT  -->
    <div class="row pt-2 pb-2 mt-0 mb-3">
      <div class="col-12">
        <div class="bg-white p-4 text-start">
          <p class="fw-light">
            The problem is that biking in general has become less safe, due to things like increased road traffic and of course, Distracted Driving! No matter how good a bike rider one is , when you don’t know what’s behind you, it can be an accident waiting to happen. Knowing what is approaching you is key to safer bike riding.
          </p>
          <p class="fw-light">
            Nearly 400,000 preventable bicycle accidents occur every year, with many of them being caused from rear approaching vehicles. Sadly, bike riding fatalities have steadily been rising over the last decade, with nearly 1,300 deaths occurring during 2020, in the U.S. alone. Bicycle deaths accounted for 2% of all motor-vehicle traffic fatalities (National Safety Council 2022)
          </p>
          <p class="fw-light">
            Although the traditional bicycle mirror can help, it has many limitations – so many, that many bike riders have simply given up on using a mirror. One major limitation of existing bike mirrors, are their inability to allow the rider to see from any position on the bike, unless the mirror is readjusted while riding – a very DANGEROUS THING TO DO!
          </p>
          <p class="fw-light">
            As for trying to look over your shoulder; or under your arm, these are not good solutions as it offers limited information to the rider; takes more energy to do so; can affect your cadence; let alone, turning around can negatively affect a riders balance. The science and stats are there to substantiate these problems, so there has to be a better solution. THAT SOLUTION IS THE MANTIS MIRROR SYSTEM!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
